.menu {
  display: flex;
  flex-direction: column;
}

.menu__button {
  padding: 10px;
  font-size: 1.75rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: baseline;
}

.menu__header {
  width: 8rem;
  flex-shrink: 0;
}

.menu__subheader {
  font-size: 1rem;
  font-style: italic;
  color: #404040;
}

.menu__return-button {
  display: block;
  width: 100%;
  margin-top: .5rem;
}

.menu__return-button-icon {
  margin-right: .5rem;
  position: relative;
  top: 6px;
  font-size: 2rem;
}

.menu__return-button__small {
  display: block;
  width: fit-content;
  padding: .3rem;
  margin: 0;
}

.menu__return-button__small span {
  padding: .3rem;
  margin: 0;
  color: black;
  font-size: 1.75rem;
  font-weight: 600;
  text-decoration: none;
}

.menu__return-button__small span:hover {
  background-color: rgb(140, 26, 17);
  color: rgb(191, 190, 190);
  transition: 0.1s;
}

.menu__button:hover {
  background-color: rgb(140, 26, 17);
  color: rgb(191, 190, 190);
  transition: 0.1s;
}

.menu__button:hover .menu__subheader {
  color: rgb(191, 190, 190);
  transition: 0.1s;
}

/* 新增文字和图片的布局 */
.menu__text-image {
  display: flex; /* 使用 Flexbox 来水平排列文字和图片 */
  align-items: center; /* 垂直居中对齐 */
  gap: 10px; /* 文字和图片之间留出间距 */
  margin-bottom: 20px; /* 文字和图片与段落之间的间距 */
}

.menu__text {
  font-size: 1.75rem; /* 设置文字的大小 */
  font-weight: 600;
  color: #72147e; /* 你可以根据需要调整文字颜色 */
}

.menu__image {
  width: 1.75rem; /* 图片的宽度和文字大小一致 */
  height: 1.75rem; /* 高度和宽度一致，保持圆形 */
  border-radius: 50%; /* 圆形效果 */
  object-fit: cover; /* 确保图片不被拉伸 */
}

.menu__info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.menu__greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menu__greeting h2 {
  color: #72147e;
  margin: 0;
  margin-bottom: 15px;
  font-size: 2rem; /* 增加字体大小 */
}

.menu__greeting p {
  margin-top: 10px;
  margin: 0;
  margin-bottom: 15px;
  font-family: "Microsoft YaHei", "Arial Black", sans-serif; /* 设置字体为黑体 */
  text-align: justify; /* 设置文本两端对齐 */
  line-height: 1.6; /* 增加行高，让行间距更舒适 */
  max-width: 700px; /* 限制段落的最大宽度，避免行过长 */
  margin-left: auto;
  margin-right: auto; /* 水平居中段落 */
}


@media screen and (max-width: 750px) {
  .menu__button {
    padding: 10px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  .menu__button {
    padding: 10px;
    width: 95%;
    font-size: 1rem;
  }

  .menu__subheader {
    font-size: .75rem;
  }

  .menu__return-button-icon {
    font-size: 1.3rem;
    top: 4px;
  }
}
