.menu {
  display: flex;
  flex-direction: column;
}

.menu__button {
  padding: 10px;
  font-size: 1.75rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: baseline;
}

.menu__header {
  width: 8rem;
  flex-shrink: 0;
}

.menu__subheader {
  font-size: 1rem;
  font-style: italic;
  color: #404040;
}

.menu__image {
  width: 30%; /* 更小的图片宽度，缩小为 60% */
  height: auto; /* 保持高度自适应 */
  margin-bottom: 20px; /* 保持图片与标题之间的间距 */
  border-radius: 50%; /* 使图片变为圆形 */
  object-fit: cover; /* 确保图片不被拉伸，适应容器 */
}

.menu__info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.menu__greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menu__greeting h2 {
  color: #72147e;
  margin: 0;
  margin-bottom: 15px;
}

.menu__greeting p {
  margin-top: 10px;
  margin: 0;
  margin-bottom: 15px;
}

@media screen and (max-width: 750px) {
  .menu__button {
    padding: 10px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  .menu__button {
    padding: 10px;
    width: 95%;
    font-size: 1rem;
  }

  .menu__subheader {
    font-size: .75rem;
  }

  .menu__return-button-icon {
    font-size: 1.3rem;
    top: 4px;
  }
}
